@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}
.Order_summery_contener {
  background-color: black;
  color: white;
}
.Order_summery_contener hr {
  margin: 1rem 0 1rem 0;
}
.Ordersummary_steps {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Ordersummary_steps > div {
  background-color: #1d1d1d;
  width: 45rem;
  /* height: 2rem; */
  margin: 0.5rem;
  padding: 1rem;
}
.ordersummary_email {
  display: flex;
  flex-direction: column;
}
.ordersummary_email span {
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 1rem;
}
.ordersummary_email #step1_cont,
#save_adress,
#sumbit_order {
  width: 30%;
  margin-left: 1rem;
  height: 2rem;
  background-color: #05c4c4;
  color: black;
  border: none;
  padding: 0;
}
.ordersummary_email #emailorphone {
  width: 50%;
}
.Order_summery_contener input {
  padding: 20px 16px 2px 13px;
  margin: 1rem;
  background-color: rgb(63, 63, 63);
  color: white;
  border: none;
  width: 100%;
  font-size: 14px;
}
.Order_summery_contener label {
  font-size: 14px;
}
.delivery_address_details {
  /* display: none; */
}
.displayelemet {
  background-color: #05c4c4;
}
#add_address {
  width: 100%;
  border: none;
  background: none;
  color: #05c4c4;
  font-size: 16px;
  cursor: pointer;
  padding: 20px 16px 2px 13px;
  margin: 1rem;
}
.delivery_address_details div {
  display: flex;
  flex-direction: row;
}
.delivery_address_details p {
  margin: 1.5rem;
}
#address_location {
  background-color: #05c4c4;
  border: none;
  border-radius: 4px;
  margin: 16px 23px 2px 13px;
  width: 30%;
  height: 2rem;
  font-size: 14px;
}
.delivery_place input {
  width: 10%;
  margin: 0;
  padding: 0;
}
.peyment_method {
  display: flex;
  flex-direction: column;
}
.peyment_method input {
  width: 100px;
  margin: 10px;
}
